button {
    background: #6278F7;
    mix-blend-mode: normal;
    border-radius: 10px;
    border: 0px;
    padding: 20px;
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    border: 1px solid #6278F7;
    cursor: pointer;
    transition: 0.4s ease-in;
}
button:hover {
    background-color: #fff;
    color: #6278F7;
    border: 1px solid #6278F7;
}